mysql
.dockerignore
tmp
helm
docker
vendor
kubernetes
artifacts
.vscode
.scannerwork
web/**/contrib
web/core
web/libraries
web/sites
phpunit.*
.git
.env
*.properties
postgresql
.idea
.scannerwork
azure
drush
helm
kubernetes
sonar-project.properties
node_modules
