{{ attach_library('familytree/header') }}

{% set header_classes = [
  'header',
] %}

<header class="{{ header_classes|join(' ') }}">
  <div class="container">
    <div class="row">      	
      {% block content %}
      {% endblock %}
    </div>
  </div>
</header>
