{#
/**
 * @file
 * Template to output the menu toggle icon (burger).
 */
#}

<a id="toggle-icon" class="mmenu-toggle d-block d-lg-none" title="Menu" href="#off-canvas">
  <i class="fa fa-bars"></i>
</a>
