/* VARIABLES
-------------------------------------------------*/
$blue: #003A24;
$red: #83251D;
$yellow: #FEB74F;
$light-gray: #3C435B;
$header: #1d1d1d;

:root{
  --data-color-blue: #{$blue};
  --data-color-red: #{$red};
  --data-color-yellow: #{$yellow};
  --data-color-light-gray: #{$light-gray};
  --data-color-header: #{$header};
}

$container-max-widths: (
  xxl: 1422px
);
