form {
  font-family: var(--font-family);
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  line-height: var(--line-height);

  h4 {
    font-family: var(--font-family);
  }
}

.form-text {
  margin-top: 0;
}

.claro-details {
  border-radius: 0 !important;

  > .claro-details__summary {
    border-radius: 0 !important;

    &:focus, &:active {
      border-radius: 0 !important;
      &::after {
        border-radius: 0 !important;
      }
    }
  }

  &[open] {
    > .claro-details__summary {
      border-radius: 0 !important;

      &:focus, &:active {
        border-radius: 0 !important;
        &::after {
          border-radius: 0 !important;
        }
      }
    }
  }

  .claro-details__summary {
    font-size: var(--font-size-s); /* ~14px */
    border-radius: 0 !important;
  }
}

