/* MAIN MENU */
.mage-mainmenu {
  // background: #137bb2;
  margin-top: -34px;

  .main-menu-wrapper {
    border-radius: 10px;
    background-image: url(../../images/menu_bg.png);
    background: linear-gradient(180deg, #83251D 20.59%, rgba(131, 37, 29, 0.00) 300%), url(../../images/menu_bg.png) #83251D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    margin-bottom: 0;
    min-height: 68px;
    padding: 8px;

    .menu-frame-left {
      margin-top: -1px;
      margin-bottom: -1px;
      height: 54px;
    }

    .menu-frame-right {
      margin-top: -1px;
      margin-bottom: -1px;
      height: 54px;
    }

    .navbar-default {
      padding: 0;
      border-top: 1px solid var(--data-color-yellow);
      border-bottom: 1px solid var(--data-color-yellow);

      ul.navbar-nav {
        li {
          a, span {
            color: var(--data-color-yellow);
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            padding: 0 10px;

            &:hover, &.is-active {
              color: #fff;
            }
          }

          &:hover {
            .dropdown-menu {
              display: block;
            }
          }
        }
      }
    }
  }
}