.nav-tabs {
  border-bottom: none;

  .nav-link {
    border-radius: 0;
    border: none;
    transition: none;
    color: #137bb2;

    &:hover,
    &.is-active {
      background-color: #f1f1f1;
      border: none;
    }
  }
}