/* TOP NEWS */
.top-news {
	margin-bottom: 15px;
	overflow: hidden;
	.fnews-carousel {
		position: relative;
		.cap {
			background: rgba(0,0,0,0.7);
			padding: 20px;
			position: absolute;
			bottom: 0;
			width: 100%;
			p {
				color: #fff;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-family: 'bebas',Arial, Helvetica, sans-serif;
				font-size: 20px;
			}
		}
		a {
			&:hover {
				p {
					color: #f3cb41;
				}
			}
		}
		.owl-controls {
			position: absolute;
			top: 0;
			right: 15px;
		}
	}
	ul {
		li {
			border-bottom: 1px dashed #ccc;
			padding-bottom: 5px;
			margin-bottom: 5px;
			a {
				color: #434343;
				display: block;
				font-size: 13px;
				transition: all .4s ease;
				-webkit-transition: all .4s ease;
				-moz-transition: all .4s ease;
				-ms-transition: all .4s ease;
				-o-transition: all .4s ease;
				span {
					color: #a6a6a6;
					font-style: italic;
				}
				i {
					padding-right: 5px;
				}
				i.fa-video-camera {
					color: #006599;
					padding-left: 5px;
				}
				i.fa-photo {
					color: #006599;
					padding-left: 5px;
				}
			}
		}
	}
	ul.content {
		height: 385px;
	}
}
