@media screen and (max-width: 380px) {
  .col-left .ads-carousel {
    margin: 0px 0px 25px 0px;
  }

  .blog ul li img {
    width: 100%;
    margin-bottom: 10px;
  }

  .caunguyen .frame {
    background: #fff;
    width: inherit;
    height: inherit;

    .frame-inner {
      padding: 10px;
    }
  }
}

@media screen and (max-width: 420px) {}

@media screen and (max-width: 480px) {
  .block-two {
    .col-xs-4, .col-xs-8 {
      width: 100%;
    }
  }

  .video.pray .col-xs-6 {
    width: 100%;
  }

  .article-detail .block-two img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 680px) {
  .top-header .social {
    float: none;
    width: 100%;
    text-align: center;

    li {
      display: inline-block;
      *display: inline;

      /*IE7*/
      *zoom: 1;

      /*IE7*/
      margin: 10px 5px 0px 5px;
      float: none;
    }
  }

  .top-video img {
    width: 100%;
    margin-bottom: 10px;
  }

  .listav ul li {
    width: 100%;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .catalogue .cata-inner .mainlist.style-two li {
    width: 100%;
  }

  .caunguyen .c-audio {
    margin-top: 50px;

    .middle {
      margin: 0px 0px 15px 0px;
    }
  }

  .listcaunguyen ul {
    li {
      width: 100%;
    }

    padding: 20px;
  }

  .top-header .navbar-nav li, .top-footer .navbar-nav li {
    float: none;
    display: inherit;
  }

  .top-header .navbar-nav li {
    &:first-child a {
      padding-left: 5px;
    }

    a {
      padding: 5px !important;
      border-right: 0;
    }
  }

  .top-footer .navbar-nav li a {
    padding: 5px !important;
    border-right: 0;

    span {
      display: inline-block;
    }
  }
}

@media screen and (max-width: 980px) {
  .breaknews .news, .top-news .fnews-carousel, .catalogue {
    margin-bottom: 10px;
  }

  .aside-ads img, .aside-list img {
    text-align: center;
    margin: 0 auto 15px auto;
    display: block;
  }

  .bottom-footer .copyright {
    text-align: left;
    padding-right: 0;
    margin: 10px 0px;
  }

  .scrollToTop {
    bottom: inherit;
  }

  .caunguyen .frame {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .mage-mainmenu .navbar-default .navbar-nav > li > a {
    padding: 12px 8px !important;
    font-size: 17px !important;
  }

  .top-news ul.content {
    height: 370px;
  }

  .top-footer .navbar-nav li a {
    padding: 0px 6px;
  }
}
