@import "import";

@include media-breakpoint-up(md) {
  .header {
    height: 260px;
  }

  .user-login-form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@include media-breakpoint-down(md) {
  .header {
    height: 200px;
  }
}

@include media-breakpoint-down(xl) {
  .article-detail {
    padding-left: 100px !important;
    padding-right: 100px !important;

    .social-sharing-block {
      left: 20px !important;
    }
  }
}

@include media-breakpoint-down(sm) {
  .header {
    height: 130px;
    background-size: cover;
  }

  footer {
    height: 160px !important;

    .logo {
      img {
        width: 70%;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .mage-mainmenu {
    margin-top: -25px !important;

    .main-menu-wrapper {
      padding: 0 !important;
      height: unset !important;

      .menu-frame-center {
        background-color: var(--data-color-red);

        .navbar-toggler {
          height: auto !important;
          padding-top: 12px;
          padding-bottom: 12px;
          height: 26px;
        }

        ul.navbar-nav {
          > li {
            border-top: 1px solid var(--data-color-yellow);
            a {
              padding: 12px 24px;
            }
          }

          .dropdown-menu {
            box-shadow: none !important;
            background-color: transparent;
            padding: 0 0 0 24px !important;
            margin: 0 !important;
            animation: none !important;
          }
        }
      }

      .navbar-default {
        border-top-width: 0 !important;
        border-bottom-width: 0 !important;

        ul.navbar-nav {
          li {
            a, span {
              
              // padding: 0 10px;
  
              &.nav-link {
                padding-top: 12px;
                padding-bottom: 12px;
              }
  
              &:hover, &.is-active {
                color: #fff;
              }
            }
  
            .dropdown-menu {
              li {
                a {
                  padding: 12px 24px !important;
                  &.dropdown-item {
                    &:hover,&:focus {
                      background-color: transparent;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .article-detail {
    padding-left: 0 !important;
    padding-right: 0 !important;

    .social-sharing-block {
      left: 0 !important;

      .social-sharing-buttons {
        display: none !important;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .main-sticky-left, .main-sticky-right {
    img {
      width: 100px;
    }
  }

  .main-section {
    padding-left: 100px;
    padding-right: 100px;

    .content-fullwidth {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .main-sticky-left, .main-sticky-right { 
    display: none;
  }

  .main-section {
    padding-left: 0;
    padding-right: 0;
  }
}