@import "import";

html,
body {
  -webkit-overflow-scrolling: touch;
  position: relative;
}

body {
  background: #FBF7F1;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--data-color-light-gray);
  // font-weight: 400;
  text-rendering: auto;
  margin-top: 0;
  margin-bottom: 24px;
}

h4,
h5,
h6 {
  line-height: 1.25;
}

h1 {
  font-size: 36px;

  &.page-title {
    color: #137bb2;
    font-size: 25px;
    font-weight: bold;
  }
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 15px;
}

ul {
  margin: 0;
  list-style: none;
}

.no-pad {
  padding: 0px;
}


/* Link & hover, focus color */
a {
  color: #137bb2;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}

a,
a:hover,
a:focus {
  -webkit-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
  text-decoration: none;
}

a:hover,
a:focus {
  outline: none;
  color: #f3cb41;
}

img {
  border: 0 none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

// Fix placeholder conflict with BS5 and Drupal placeholder class issue #3228330
[data-drupal-messages] .placeholder,
[data-drupal-messages-fallback] .placeholder {
  display: initial;
  min-height: initial;
  vertical-align: initial;
  cursor: initial;
  background-color: initial;
  opacity: initial;
  font-weight: bold;
}

.content-fullwidth {
  background-color: #fff;
  padding: 32px;
  border-radius: 0px 0px 18px 18px;
}

footer {
  background-color: var(--data-color-blue);
  background-image: url(../images/footer_bg.png);
  background-position: center center;
  height: 244px;
}

.cat-list {
  .cat-item {
    margin-bottom: 48px;

    .cat-item-image {
      margin-bottom: 24px;

      img {
        border-radius: 8px;
      }
    }

    .cat-item-title {
      margin-bottom: 10px;
      
      a {
        color: #1D1D1D;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;

        &:hover {
          color: var(--data-color-red);
        }
      }
    }

    .cat-item-datetime {
      color: #3C435B;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      i {
        margin-right: 5px;
      }
    }
  }
}