@import "import";

// Fix placeholder conflict with BS5 and Drupal placeholder class issue #3228330
[data-drupal-messages] .placeholder,
[data-drupal-messages-fallback] .placeholder {
  display: initial;
  min-height: initial;
  vertical-align: initial;
  cursor: initial;
  background-color: initial;
  opacity: initial;
  font-weight: bold;
}
